header {
  background-color: rgb(0, 78, 147);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 15px 40px 15px 40px;
  font-size: 30px;
}

.navbar{
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item{
  border: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item:hover {
  background-color: rgb(0, 59, 110);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.exit-button{
  background-color: white;
}

.exit-button:hover{
  background-color: rgb(198, 198, 198);
}

.exit-button a{
  color: rgb(0, 78, 147);
}